<div class="container-fluid block4">
  <div class="row">
    <div class="col text1">
      <a>EXPLORE OUR SERVICES</a><br>
      <img src="../../assets/ligne1.png" class="img-fluid">
    </div>
  </div>
  <div class="row" style="margin-top: 4%">
    <div class="col-sm-6">
      <img src="../../assets/mobile_phones@1x.png" class="img-fluid">
    </div>
    <div class="col-sm-6" style="margin-top:10%">
      <div class="row">
        <div class="col test2">
          "This is a longer card with supporting text below as a natural supporting text below
          as a natural"
        </div>
      </div>
      <div class="row">
        <div class="col deux-boutton">
          <img src="../../assets/ic_available_app_store_norml@1x.png"
            class="img-fluid">
          <img src="../../assets/ic_available_google_play_normal@1x.png"
            class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col btnrouge3">
          <a>EXPLORE it</a>
        </div>
      </div>
    </div>
  </div>
</div>