<div class="container-fluid" style="background-image: url('../../assets/block5.png');
background-repeat: no-repeat;">
    <div class="row">
        <div class="col text-block5">
            <h4>SUBSCRIBE TO OUR NEWS LETTER</h4>
            <p>Stay informed about us, news and events</p>
        </div>
    </div>
    <div class="row email">
        <div class="col image-mail">
            <a>Enter your e-mail adress</a></div>
        <div class="col send"><a>Send</a></div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-sm justify-content-center">
                <ul class="navbar-nav nab">
                    <li class="nav-item">
                        <a class="nav-link">OUR SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">OFFER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">PRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">CONTACTS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col pos-icon">
            <img src="../../assets/ic_facebook@1x.png" class="img-fluid">
            <img src="../../assets/ic_twitter@1x.png" class="img-fluid">
            <img src="../../assets/ic_youtube@1x.png" class="img-fluid">
        </div>
    </div>
</div>
