
<div class="container-fluid car">
  <div class="row">
    <div class="col test1">
      <h5>TESTED,APROVED & RECOMMENDED BY</h5>
      <img src="../../assets/ligne-blanc.png" class="pos-ligne-blanch"
        class="img-fluid"><br>
      <img src="../../assets/capital_logo@1x.png" style="margin-top: 5%"
        class="img-fluid">
      <h6 class="test3">"This is a longer card with supporting text below as a natural supporting text below
        as a natural"
      </h6>
      <div class="pos-point">
        <img src="../../assets/point-rouge.png" class="img-fluid">
        <img src="../../assets/point-blanc.png" class="img-fluid">
        <img src="../../assets/point-blanc.png" class="img-fluid">
        <img src="../../assets/point-blanc.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>