<div class="container-fluid">
  <div class="row">
    <div class="col text1">
      <a>HOW WORK IT?</a><br>
      <img src="../../assets/ligne1.png" class="img-fluid">
    </div>
  </div>
  <div class="container">
    <div class="row image_bok">
      <div class="col-md-4">
        <div class="card block-card">
          <img class="card-img-top block-image"
            src="../../assets/ic_booking@1x.png" alt="Card image"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title">Booking</h4>
            <p class="card-text">Some example text some example text.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card block-card">
          <img class="card-img-top block-image"
            src="../../assets/ic_payment@1x.png" alt="Card image"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title">Payment</h4>
            <p class="card-text">Some example text some example text.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card block-card">
          <img class="card-img-top block-image"
            src="../../assets/ic_meeting@1x.png" alt="Card image"
            class="img-fluid">
          <div class="card-body">
            <h4 class="card-title">Meeting</h4>
            <p class="card-text">Some example text some example text.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col btnrouge2">
        <a>I RESERVER</a>
      </div>
    </div>
  </div>
</div>