<div class="container-fluid bg" >
  <div class="row">
    <div class="col-md-12 text-center pos_titre">
      <img src="../../assets/logo.png" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-sm justify-content-center">
        <ul class="navbar-nav" style="color: white;size:60%">
          <li class="nav-item">
            <a class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">OUR SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">OFFER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">MY ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">PRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">PL</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col test">
      <h2>PAMPER YOURSELF PRETTY</h2>
      <p>Bootstrap employs a handful of important global styles and</p>
      <p>settings that you’ll need to be aware of when using it, all of which are </p>
      <p>almost exclusively geared towards the normalization of cross browser styles.
        Let’s dive in.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text_btn">
      <a>I RESERVER</a>
    </div>
  </div>
  <div class="row">
    <div class="col sourie">
      <img src="../../assets/sourie.png" class="img-fluid">
    </div>
  </div>
</div>