<div class="container-fluid block2">
  <div class="row">
      <div class="col text1">
          <a>EXPLORE OUR SERVICES</a><br>
          <img src="../../assets/ligne1.png" class="img-fluid">
      </div>
  </div>
  <!--     carousel    -->
  <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto pos_carsl">
              <div class="carousel-item col-md-4  active">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_lashes_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 1</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
              <div class="carousel-item col-md-4">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_nails_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 2</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
              <div class="carousel-item col-md-4">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_haire_style_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 3</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
              <div class="carousel-item col-md-4">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_make_up_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 4</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
              <div class="carousel-item col-md-4">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_wax_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 5</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
              <div class="carousel-item col-md-4">
                  <div class="card font">
                      <img class="card-img-top img-fluid"
                          src="../../assets/categ_goming_soon_home@1x.png"
                          alt="Card image cap" class="img-fluid">
                      <img src="../../assets/ligne.png"
                          class="img-fluid pos_ligne">
                      <div class="card-body pos_body">
                          <h4 class="card-title">Card 6</h4>
                          <p class="card-text text_body">This is a longer card with supporting</p>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
  <!--     /carousel    -->
  <!--     boutton_rouge    -->
  <div class="row">
      <div class="col btnrouge1">
          <a>EXPLORE ALL</a>
      </div>
  </div>
  <!--     /boutton_rouge    -->
</div>